.bouton-violet{
    input{
        @include bouton-violet;
    }
}

.bouton-fonctionnement:hover{
    background-color: lighten($couleur-primaire, 33%);
    
    i{
        color: $couleur-primaire;
    }
}

.bouton-nouveau{
    @include bouton-nouveau;
}

.bouton-choix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $background-color;
    width: 90%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 18px;
    padding: 10px;
    box-shadow: 3px 10px 10px $color-shadow;
    
    .menu__carte__choix__texte{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2{
            font-size: 20px;
        }
    }

    .menu__carte__choix__prix{
        display: flex;
        align-items: flex-end;
        font-weight: bold;
    }
}