.bouton-violet{
    text-align: center;
    
    input{
        height: 40px;
        width: 180px;
        background: linear-gradient(170deg, $couleur-secondaire, $couleur-primaire);
        color: $background-color;
        border: none;
        border-radius: 20px 20px 20px 20px;
        font-weight: bold;
        box-shadow: 4px 4px 6px $color-shadow;

        &:hover{
            background: linear-gradient(
                170deg, 
                lighten($couleur-secondaire, 5%),
                lighten($couleur-primaire, 5%)
            );
            box-shadow: 4px 4px 4px $color-shadow2;
        }
    }
}

.bouton-fonctionnement:hover{
    background-color: lighten($couleur-primaire, 33%);
    
    i{
        color: $couleur-primaire;
    }
}

.bouton-nouveau{
    @include display-center;
    @include box-shadow;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 90px;
    background-color: $couleur-tertiaire;
    border-radius: 3px;
    color: darken($couleur-tertiaire, 40%);
    font-weight: bold;
}

.bouton-choix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $background-color;
    width: 400px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 18px;
    box-shadow: 3px 10px 10px $color-shadow;
    overflow: hidden;

    p{
        text-overflow: ellipsis;
    }
    
    .menu__carte__choix__texte{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: space-between;
        margin-left: 10px;

        h2{
            font-size: 20px;
        }
    }
    
    .menu__carte__choix__slide{
        display: flex;
        width: 11rem;
        transition: margin 0.2s ease-in-out;
        margin: -1rem -7rem -1rem auto;

        &__prix{
            flex: 1;
            align-self: flex-end;
            padding-right: 1.2rem;
            padding-bottom: 1rem;
            padding-left: 0.8rem;
            font-weight: bold;
            text-align: right;
            margin: 10px;
        }

        &__check{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 6rem;
            font-size: 2rem;
            background-color: $couleur-tertiaire;
            color: $background-color;

            .fas {
                transition: transform 0.4s ease-in-out;
                transition-delay: 0.10s;
                transform: rotate(-180deg);
            }
        }
    }

    &:hover{
        .menu__carte__choix__slide{
            margin-right: -1rem;
        }

        .menu__carte__choix__slide__check .fas{
            transform: rotate(0);
        }
    }
}