.header{
    
    &__titre{
        height: 70px;
        @include display-center();
        
        h1{
            @include logo-style(45px)
        }
    }
}

.localisation{
    @include display-center();
    background-color: darken($background-color, 10%);
    height: 50px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.125);
    
    input{
        border-radius: 10px 10px 10px 10px;
        border: none;
    }
}

.presentation{
    @include presentation-style();
    
    &__titre, &__txt{
        width: 75%;
    }
}



.fonctionnement{
    height: 300px;
    margin: 30px 0 30px 0px;
    padding: 30px 0 50px 0;
    
    &__nav{
        height: 100%;
        
        &__btns{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            @include desktop{
                flex-direction: row;
                justify-content: center;
            }
        }
    }
}

.restaurants{
    background-color: darken($background-color, 5%);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    
    @include desktop(){
        align-items: center;

    }

    .restaurants__list{
        @include display-column-center();
        @include desktop{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
        }
    }
}



