@mixin desktop {
    @media (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin logo-style($size) {
    font-family: $police-logo-titre;
    font-size: $size;
}

@mixin h2-style {
    font-weight: bold;
    font-size: 30px;
}

@mixin h3-style {
    font-weight: bold;
    font-size: 20px;
}

@mixin box-shadow {
    box-shadow: 3px 5px 5px $color-shadow;
}

@mixin presentation-style($color: $background-color) {
    background-color: darken($color, 5%);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 30px 0 30px 0;
}

@mixin fonctionnement-li-style($color: $background-color) {
    background-color: darken($color, 5%);
    display: flex;
    align-items: center;
    height: 60px;
    width: 90%;
    border-radius: 20px 20px 20px 20px;

}

@mixin carte-style($color: $background-color) {
    width: 350px;
    height: 250px;
    margin-top: 20px;
    background-color: $color;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 4px 4px 6px $color-shadow;
}

