$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$background-color: white;
$color-shadow: rgba(0, 0, 0, 0.125);

$police-logo-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;
$texte-color: black;
$footer-texte-color: white;