$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: white;

$color-shadow: rgba(0, 0, 0, 0.125);
$color-shadow2: rgba(0, 0, 0, 0.151);

$police-logo-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;
$texte-color: black;
$footer-texte-color: white;
$texte-size: 18px;
