.footer{
    height: 200px;
    background-color: rgb(53, 53, 53);
    padding-top: 20px;
    width: 100%;

    &__logo{
        h1{
            @include logo-style(20px);
            color: $footer-texte-color;
            margin: 0 0 20px 20px;

            @include desktop{
                font-size: 30px;
                margin-top: 20px;
            }
        }
    }

    &__nav{
        height: 75%;
        margin-left: 20px;

        @include desktop{
            width: 100%;
            height: 100%;
        }
        
        ul{
            display: flex;
            flex-direction: column;

            @include desktop{
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-evenly;
                margin-top: 80px;
                margin-left: -15px;

            }

            a{
                display: flex;
                flex-direction: row;
                color: $footer-texte-color;
                margin-bottom: 10px;

                i{
                    margin-right: 10px;
                }
            }
        }
    }

    @include desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}